* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
:root {
  --primary-color: #fd4c29;
  --secondary-color: #e3d7d4e1;
  --transition: 0.4s;
  --shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}

/* Topbar */
.topbar {
  background-color: var(--primary-color);
}
.social-links {
  text-align: end;
}
.social-links a {
  display: inline-flex;
  height: 26px;
  width: 26px;
  background-color: var(--secondary-color);
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}
.social-links a:hover {
  background-color: var(--primary-color);
}

/* Navbar */

#nav {
  position: sticky;
  top: 0;
  z-index: 99;
}

.dot {
  color: var(--primary-color);
}
.navbar-brand {
  font-size: 30px;
  font-weight: 500;
}
.nav-items a {
  font-weight: 500;
}
.nav-items a:hover {
  color: var(--primary-color);
}

.btn-contact {
  background-color: var(--primary-color);
  color: #fff;
}

/* Banner slider */

.banner-content {
  padding: 280px 0;
}
.banner-content h6 {
  font-weight: 700;
}
.banner-content h1 {
  font-size: 60px;
}
.carousel-item {
  position: relative;
  z-index: 1;
}
.carousel-item::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #0000005c;
  top: 0;
  left: 0;
  z-index: -1;
}
.btn-brand {
  background: var(--primary-color);
  color: aliceblue;
  border-color: var(--primary-color);
}

/* About */

.info-box {
  display: flex;
  align-items: center;
}
.info-box img {
  width: 85px;
}

/* Milestone start */

#milestone {
  background: linear-gradient(rgba(255, 77, 41, 0.85), rgba(255, 77, 41, 0.85))
      center center / cover no-repeat,
    url("../img/bg_banner1.jpg");
  background-position: center center;
}
.milestone-content {
  padding: 80px 0 70px 0;
  color: aliceblue;
  font-weight: ;
}

/* Services */

.intro {
  margin-top: 36px;
  margin-bottom: 36px;
  text-align: center;
}
.intro h6 {
  color: var(--primary-color);
  font-weight: 400;
  text-transform: uppercase;
}
.intro h2 {
  font-weight: 700;
}
.intro p {
  max-width: 500px;
}
.service {
  background-color: rgb(255, 255, 255);
  /* box-shadow: var(--shadow); */
  box-shadow: 0px 5px 30px #fd4c291f;
  padding: 32px;
}
